<p id="notice"><%= notice %></p>
<%= link_to "Home", user_path(current_user.id), class: "btn-success btn" %>
<h4>Devices</h4>


<table class="table table-striped table-bordered table-hover dataTables-example" >
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Model</th>
            <th>Device id</th>
            <th>Place</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @devices.each do |device| %>
            <%= render :partial=>"devices/device_list_item", :locals => {:item => device} %>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path, :class => 'btn-primary btn' %>
